.uni-panel {
}
.uni-panel > .panel-heading {
	font-weight: bold;
}

.uni-subpanel {
	border-color: whitesmoke;
	border-style: solid;
	border-width: 0 2px 2px 1px;
}
.uni-subpanel > .panel-heading {
	font-weight: bold;
	padding: 1px 6px;
}

.uni-modal {
}
.uni-modal-content {
	color: black;
}
.uni-modal-header {
	font-weight: bold;
}