<!doctype html>
<html ng-app="union-webkit">
	<head>
		<link rel="stylesheet" type="text/css" href="/jquery/build.css">
		<link rel="stylesheet" type="text/css" href="/bootstrap/build.css">
		<link rel="stylesheet" type="text/css" href="/angularjs/build.css">
		<link rel="stylesheet" type="text/css" href="/webkit/unikit.css">
		<script type="text/javascript" src="/jquery/build.js"></script>
		<script type="text/javascript" src="/bootstrap/build.js"></script>
		<script type="text/javascript" src="/angularjs/build.js"></script>
		<script type="text/javascript" src="/webkit/unikit.js"></script>
	</head>
	<!--
		http://azmind.com/demo/bootzard-bootstrap-wizard-template/
		http://bashooka.com/coding/jquery-step-by-step-form-wizard-plugins/
		http://www.jqueryscript.net/demo/Simple-Wizard-Modal-Plugin-with-jQuery-Bootstrap-Easy-Wizard/
	-->
	<body >
		<div style="margin:40px" ng-init="pivoteObject = {}">
			<div ng-controller="controller">
				<div uni-panel>
					<header><h1>Formulario 1</h1></header>
					<div uni-grid='{cols:[6,6]}'>
						<form name="form1" uni-validator="{type:'tooltip'}" uni-collapse="{expandWidth:true}" detail="fomularios de datos personales">
							<h1>form1</h1>
							<div uni-grid="{cols:[4,4,4]}">
								<div uni-panel uni-collapse="{expandWidth:true}">
									<header>Mis datos</header>
									<div uni-grid="{cols:[2,4]}"  detail="fomularios de datos personales">
										<label>Nombre</label><input type="text" ng-model="pivoteObject.nombre" required ><label>Apellido Paterno</label><input type="text" ng-model="pivoteObject.apellidoPat" required><br>
										<label>Apellido Materno</label><input type="text" ng-model="pivoteObject.apellidoMat"><label>Direccion</label><input type="text" ng-model="pivoteObject.direccion"><br>
										<label>Celular</label><input type="text" ng-model="pivoteObject.celular"><label>Telefono</label><input type="text" ng-model="pivoteObject.telefono"><br>
										<label>Fecha de Nacimiento</label><input type="text" ng-model="pivoteObject.nacimiento"><label>Ciudad</label><input type="text" ng-model="pivoteObject.ciudad">
										<br><label>Provincia</label><input type="text" ng-model="pivoteObject.provincia"><br>
									</div>
								</div>
								<div uni-grid="{cols:[2,4]}" uni-collapse="{expandWidth:true}" detail="fomularios de datos personales">
									<label>Nombre</label><input type="text" ng-model="pivoteObject.nombre" required ><label>Apellido Paterno</label><input type="text" ng-model="pivoteObject.apellidoPat" required><br>
									<label>Apellido Materno</label><input type="text" ng-model="pivoteObject.apellidoMat"><label>Direccion</label><input type="text" ng-model="pivoteObject.direccion"><br>
									<label>Celular</label><input type="text" ng-model="pivoteObject.celular"><label>Telefono</label><input type="text" ng-model="pivoteObject.telefono"><br>
									<label>Fecha de Nacimiento</label><input type="text" ng-model="pivoteObject.nacimiento"><label>Ciudad</label><input type="text" ng-model="pivoteObject.ciudad">
									<br><label>Provincia</label><input type="text" ng-model="pivoteObject.provincia"><br>
								</div>
								<div uni-grid="{cols:[2,4]}" uni-collapse="{expandWidth:true}" detail="fomularios de datos personales">
									<label>Nombre</label><input type="text" ng-model="pivoteObject.nombre" required ><label>Apellido Paterno</label><input type="text" ng-model="pivoteObject.apellidoPat" required><br>
									<label>Apellido Materno</label><input type="text" ng-model="pivoteObject.apellidoMat"><label>Direccion</label><input type="text" ng-model="pivoteObject.direccion"><br>
									<label>Celular</label><input type="text" ng-model="pivoteObject.celular"><label>Telefono</label><input type="text" ng-model="pivoteObject.telefono"><br>
									<label>Fecha de Nacimiento</label><input type="text" ng-model="pivoteObject.nacimiento"><label>Ciudad</label><input type="text" ng-model="pivoteObject.ciudad">
									<br><label>Provincia</label><input type="text" ng-model="pivoteObject.provincia"><br>
								</div>								
							</div>
						</form>					
						<pre>{{pivoteObject|json}}</pre>
					</div>
					<div>
						<form name="form1" uni-validator="{type:'tooltip'}">
							<h1>form2</h1>
							<div uni-grid="{cols:[2,4]}" >
								<label>Nombre</label><input type="text" ng-model="pivoteObject.nombre" required><label>Apellido Paterno</label><input type="text" ng-model="pivoteObject.apellidoPat" required><br>
								<label>Apellido Materno</label><input type="text" ng-model="pivoteObject.apellidoMat"><label>Direccion</label><input type="text" ng-model="pivoteObject.direccion"><br>
								<label>Celular</label><input type="text" ng-model="pivoteObject.celular"><label>Telefono</label><input type="text" ng-model="pivoteObject.telefono"><br>
								<label>Fecha de Nacimiento</label><input type="text" ng-model="pivoteObject.nacimiento"><label>Ciudad</label><input type="text" ng-model="pivoteObject.ciudad">
								<br><label>Provincia</label><input type="text" ng-model="pivoteObject.provincia"><br>
							</div>
						</form>					
						<pre>{{pivoteObject|json}}</pre>
					</div>
				</div>
			</div>				
		</div>
	</div>
</body>
</html>